td.fondo {
    background-color: lightyellow;
    }

p.titulo {
    color: blue;
    font-variant: small-caps;
}

img.caja {
    float: right;
}

p.centro {
    text-align: center;
}

footer {
    background-color: lightcyan;
}

p.derecha {
    text-align: right;
}

img.izquierda {
    float: left;
}

table {
    clear: both;
}